pkgbase = nodejs-webpack
	pkgdesc = JavaScript bundler (CommonJs, AMD, ES6 modules, CSS, Images, JSON, CoffeeScript, LESS)
	pkgver = 5.100.2
	pkgrel = 1
	url = https://webpack.js.org/
	arch = any
	license = MIT
	makedepends = npm
	depends = nodejs
	noextract = nodejs-webpack-5.100.2.tgz
	source = nodejs-webpack-5.100.2.tgz::http://registry.npmjs.org/webpack/-/webpack-5.100.2.tgz
	sha256sums = d41c866dc6186080478eab2b9c43b269234a332dcfbb9cbfb8c8158e7928ae04

pkgname = nodejs-webpack
