pkgbase = nodejs-webpack
	pkgdesc = JavaScript bundler (CommonJs, AMD, ES6 modules, CSS, Images, JSON, CoffeeScript, LESS)
	pkgver = 5.99.8
	pkgrel = 1
	url = https://webpack.js.org/
	arch = any
	license = MIT
	makedepends = npm
	depends = nodejs
	noextract = nodejs-webpack-5.99.8.tgz
	source = nodejs-webpack-5.99.8.tgz::http://registry.npmjs.org/webpack/-/webpack-5.99.8.tgz
	sha256sums = 0476665eee672dc56cffc7338ee02d99ccf3c973780f304a02ff40e0d4850ee3

pkgname = nodejs-webpack
